:root {
  --black: #000;
  --white: #fff;
  --gray: #eee;
  --gray-hover: #ddd;
  --placeholder: #888;
  --lnk: #1e90ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: var(--white);
  color: var(--black);
}
