@import url(fonts.css);
@import url(icons.css);
@import url(reset.css);

:root {
  --black: #28282b;
  --white: #fff;
  --white-hover: #f5f5f5;
  --gray: #eee;
  --gray-hover: #ddd;
  --placeholder: #888;
  --focus: #2fa6ff;
  --border: #ccc;
  --link: #1a73e8;
  --brown: #612c30;
  --brown-hover: #592428;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: "Host Grotesk", sans-serif;
}

.navbar {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 32px;
}

.navbar-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 1024px;
  padding: 16px 0;
}

.navbar-a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: 16px;
  font-size: 16px;
}

.navbar-a:first-child {
  margin-right: auto;
}

.navbar-a:last-child {
  display: none;
  font-size: 1.5em;
}

.navbar-img {
  height: 48px;
}

.container {
  margin: 32px;
}

.navbar-phone {
  display: none;
}

.navbar-ul-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--black);
  width: 100%;
  margin-bottom: 48px;
  padding: 32px;
  border-radius: 32px;
  box-shadow: 16px 16px var(--gray-hover);
}

.navbar-a-phone {
  text-align: center;
  width: 100%;
  padding: 16px;
  font-size: 16px;
}

.navbar-a-phone:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.container-footer {
  background-color: var(--brown);
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  gap: 32px;
  padding: 32px;
}

.footer {
  color: var(--white);
}

.title-footer {
  font-weight: bold;
  font-size: 18px;
}

.description-footer {
  font-size: 16px;
}

.link-footer:hover {
  text-decoration: underline;
}

.copyright {
  background-color: var(--brown-hover);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 16px 0;
}

.description-copyright {
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.link-copyright:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  .navbar-a:not(:first-child, :last-child) {
    display: none;
  }

  .navbar-a:last-child {
    display: flex;
  }

  .container-footer {
    flex-direction: column;
  }

  .copyright {
    flex-direction: column;
    gap: 8px;
  }
}
